.env
.idea
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*/__pycache__/
*/wandb/
*/key.txt
*.npy
*/data/
*/X_stock.npy
*/models
*/results
key.txt
*.pt
*/wandb/
*.zip
